@font-face {
    font-family: "CodeBold";
    src: url("../Fonts/Code-Bold.woff");
}

@font-face {
    font-family: "CodeLight";
    src: url("../Fonts/Code-Light.woff");
}

body {
    font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "CodeLight";
    font-weight: normal;
}

.product-bg-1 {
    background-image: url("../Images/lady-1.png");
}
.product-bg-2 {
    background-image: url("../Images/lady-2.png");
}
.product-bg-3 {
    background-image: url("../Images/lady-3.png");
}
.product-bg-4 {
    background-image: url("../Images/lady-4.png");
}
.product-bg-5 {
    background-image: url("../Images/lady-5.png");
}
.product-bg-6 {
    background-image: url("../Images/lady-6.png");
}
.product-bg-7 {
    background-image: url("../Images/lady-7.png");
}
.product-bg-8 {
    background-image: url("../Images/lady-8.png");
}
.product-bg-9 {
    background-image: url("../Images/lady-9.png");
}
.product-bg-10 {
    background-image: url("../Images/lady-10.png");
}
.homepage-slider-wrap {
    background-image: url("../Images/background.png");
    background-color: #e9d4cf;
    background-size: cover;
    height: 100%;

}

html, body {
    height: 100%;
}

.header-top-area a {
    color:  #5b4060;
    text-decoration: none;
    padding: 15px;
    display:inline-block;
}

.header-top-area {
    font-weight: bold;
    text-transform: uppercase;
    font-size:  13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-left li {
    display: inline-block;
}

a.menu-trigger {
    display: none;
}

.header-right {
    text-align: right;
}

.search-trigger i.fa {
    padding-left: 10px;
}

html, body {
    height: 100%;
}


.single-slide-item {
    position: relative;
}

.single-slide-item img {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    bottom: 0;
}

.slide-text-table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
}

.single-slide-item div {
    height: 100%;
}

.homepage-slider-wrap div {
    height: 100%;
}

.slide-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    font-family: "CodeLight", sans-serif;
    font-size: 120px;
    color: #e55288;
    line-height: 101px;
    font-weight: normal;
}

.slide-text-tablecell span {
    font-family: "CodeBold", sans-serif;
    font-weight: normal;
}

.slide-alternative-color {
    color: #6db0c6;
}

.big-menu {
    margin: 0;
    padding: 0;
    list-style:none;
    overflow:hidden;
}

.big-menu li {
    float: left;
    width: 25%;
    font-family: "CodeLight", sans-serif;
    font-size: 50px;
    background: #ecf3e8;
    height: 316px;
    transition: .3s;
}

.big-menu li:hover {
    opacity: 0.8;
}

.big-menu li a {
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 170px 30px 30px;
    color: #c5c3c4;
}

.big-menu li:nth-child(2) a{
    color: #e84f88;
    font-family: "CodeBold", sans-serif;   
    text-align:center;
}

.big-menu li:nth-child(2) {
    background-color: #f1e5e5;
    width: 30%;
}

.big-menu li:nth-child(1) a{
    color: #a89fa9;   
}

.big-menu li:nth-child(1) {
    background-color: #ecf3e8;
}

.big-menu li:nth-child(3) a{
    color: #846f84;
    text-align:center;   
}

.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
    width: 20%;
}

.big-menu li:nth-child(4) a {
    color: #a8a0b0;
    text-align:left;
}

.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
}

.products-area {
    padding-top: 100px;
}

.single-product-item {
    height: 300px;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 18%;
    float: left;
    background-color: #f8f4f5;

}

.products-list {
    margin-left: -2%;
    overflow: hidden;
}

.single-product-item:nth-child(2) {
    height: 620px;
    width: 78%;
    background-color: #f4eeed;
}

.single-product-item:nth-child(3) {
    background-color: #f4f7f7;
}

.single-product-item:nth-child(4) {
    background-color: #f3f2ec;
    width: 56%;
}

.single-product-item:nth-child(6) {
    background-color: #f1f6f2;
}

.single-product-item:nth-child(7) {
    background-color: #f1f5f6;
}

.single-product-item:nth-child(8) {
    background-color: #f1f5f3;
}

.single-product-item:nth-child(9) {
    width: 38%;
    background-color: #f2eaf3;
}

.single-product-item:nth-child(10) {
    background-color: #f1f0eb;
}

.product-top-links a {
    color: #a08ea3;
    padding: 5px;
    display: inline-block;
}

.product-top-links {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
}

.single-product-item:hover .product-top-links{
    z-index: 99;
}

.single-product-item:hover .product-top-links a {
    color: #FFF;
}

.product-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:1;
    opacity:0;
    transition: 0.3s;
}

.product-hover::after {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    content:"";
    background-color: #97c6d5;
    opacity: 0.7;
    z-index:-1;
}

.single-product-item:hover .product-top-links a {
    color: #FFFFFF;
    z-index:999;
}

.product-hover > a {
    position: absolute;
    text-decoration: none;
    left: 50%;
    top: 50%;
    color: #FFF;
    border: 2px solid;
    padding: 6px 17px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    width: 90px;
    line-height: 25px;
    margin-left: -45px;
    margin-top: -70px;
    transition: 0.3s;
}

.product-bottom-info {
    position: absolute;
    background-color: #FFF;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    transition: 0.3s;
    opacity: 0;
}

.product-bottom-info h4 {
    margin: 0;
    font-family: "karla",sans-serif;
    font-size: 16px;
    font-weight: 700;
}

span.product-price {
    position: absolute;
    top: 13px;
    right: 0;
    color: #eb6698;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    /* bottom: -3px; */
}

.product-color-box span {
    border: 1px solid #d9d4da;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.product-color-box span.product-color-red {
    background-color: red;
    border-color: red;
}

.product-color-box span.product-color-green {
    background-color: #99e4e7;
    border-color: #99e4e7;
}

.product-bottom-info p {
    margin: 0;
}

.single-product-item:hover .product-hover {
    opacity: 1;
}

.single-product-item:hover .product-hover > a {
    margin-top:-40px;
}

.product-hover:hover .product-bottom-info {
    opacity: 1;
}

.product-bottom-info span.color-sep {
    position: absolute;
    height: 52%;
    width: 1px;
    background-color: #908a91;
}

span.product-color-box {
    padding-left: 5px;
}

a.load-more-product-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #e84f88;
    background-color: #f9f9f8;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.product-promotion {
    background-color: #f8f5f5;
}

.promo-bg {
    background-color: #f4f0f0;
}

.promo-content {
    padding: 60px 70px 50px 40px;
    line-height: 2;
}

.promo-title {
    position: relative;
    color: #e84f88;
    margin-bottom: 40px;
}

.promo-title h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.promo-title h2 strong{ 
    font-family: 'CodeBold';
    font-weight: normal;
}

.promo-title span.year-text {
    position: absolute;
    left: 29%;
    top: 13px;
    font-size: 110px;
    color: #d9e7ed;
    line-height: 109px;
    opacity: 0.2;
}

.boxed-btn {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    background-color: #51abc8;
    padding: 5px 30px;
    margin-top: 6px;
}

.brand-images {
    margin-top: 100px;
}

.footer-area {
    background-color: #f4f4f4;
    margin-top: 50px;
    padding: 50px 0;
}

.footer-area .footer-area a {
    color: #919191;
}

.footer-menu li a {
    color: #919191;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    /* display: inline-block; */
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-menu ul li {
    display: inline-block;
    padding-right: 38px;
}

.social-links a {
    font-size: 120%;
    display: inline-block;
    padding-left: 10px;
    color: #b2b2b2;
}

.social-links {
    padding-left: 327px;
    margin-bottom: 10px;
    /* position: absolute; */
    /* right: 0; */
}

.email-subscribe-form input[type="email"] {
    border: 1px solid #DDD;
    background-color: #FFFFFF;
    padding: 10px 20px;
    min-width: 285px;
}

.email-subscribe-form input[type="submit"] {
    background-color: #e84f88;
    color: #FFFFFF;
    padding: 11px 20px;
    outline: none;
    border: none;
}

.footer-menu {
    margin-top: 10px;
}