@font-face {
    font-family: "CodeBold";
    src: url("../Fonts/Code-Bold.woff");
}

@font-face {
    font-family: "CodeLight";
    src: url("../Fonts/Code-Light.woff");
}

body {
    font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "CodeLight";
    font-weight: normal;
}

.product-bg-1 {
    background-image: url("../Images/lady-1.png");
}
.product-bg-2 {
    background-image: url("../Images/lady-2.png");
}
.product-bg-3 {
    background-image: url("../Images/lady-3.png");
}
.product-bg-4 {
    background-image: url("../Images/lady-4.png");
}
.product-bg-5 {
    background-image: url("../Images/lady-5.png");
}
.product-bg-6 {
    background-image: url("../Images/lady-6.png");
}
.product-bg-7 {
    background-image: url("../Images/lady-7.png");
}
.product-bg-8 {
    background-image: url("../Images/lady-8.png");
}
.product-bg-9 {
    background-image: url("../Images/lady-9.png");
}
.product-bg-10 {
    background-image: url("../Images/lady-10.png");
}
.homepage-slider-wrap {
    background-image: url("../Images/background.png");
    background-color: #e9d4cf;
    background-size: cover;
    height: 100%;

}

html, body {
    height: 100%;
}

.header-top-area a {
    color:  #5b4060;
    text-decoration: none;
    padding: 15px;
    display:inline-block;
}

.header-top-area {
    font-weight: bold;
    text-transform: uppercase;
    font-size:  13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-left li {
    display: inline-block;
}

a.menu-trigger {
    display: none;
}

.header-right {
    text-align: right;
}

.search-trigger i.fa {
    padding-left: 10px;
}

html, body {
    height: 100%;
}


.single-slide-item {
    position: relative;
}

.single-slide-item img {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    bottom: 0;
}

.slide-text-table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
}

.single-slide-item div {
    height: 100%;
}

.homepage-slider-wrap div {
    height: 100%;
}

.slide-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    font-family: "CodeLight", sans-serif;
    font-size: 120px;
    color: #e55288;
    line-height: 101px;
    font-weight: normal;
}

.slide-text-tablecell span {
    font-family: "CodeBold", sans-serif;
    font-weight: normal;
}

.slide-alternative-color {
    color: #6db0c6;
}

.big-menu {
    margin: 0;
    padding: 0;
    list-style:none;
    overflow:hidden;
}

.big-menu li {
    float: left;
    width: 25%;
    font-family: "CodeLight", sans-serif;
    font-size: 50px;
    background: #ecf3e8;
    height: 316px;
    transition: .3s;
}

.big-menu li:hover {
    opacity: 0.8;
}

.big-menu li a {
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 170px 30px 30px;
    color: #c5c3c4;
}

.big-menu li:nth-child(2) a{
    color: #e84f88;
    font-family: "CodeBold", sans-serif;   
    text-align:center;
}

.big-menu li:nth-child(2) {
    background-color: #f1e5e5;
    width: 30%;
}

.big-menu li:nth-child(1) a{
    color: #a89fa9;   
}

.big-menu li:nth-child(1) {
    background-color: #ecf3e8;
}

.big-menu li:nth-child(3) a{
    color: #846f84;
    text-align:center;   
}

.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
    width: 20%;
}

.big-menu li:nth-child(4) a {
    color: #a8a0b0;
    text-align:left;
}

.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
}

.products-area {
    padding-top: 100px;
}

.single-product-item {
    height: 300px;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 18%;
    float: left;
    background-color: #f8f4f5;

}

.products-list {
    margin-left: -2%;
    overflow: hidden;
}

.single-product-item:nth-child(2) {
    height: 620px;
    width: 78%;
    background-color: #f4eeed;
}

.single-product-item:nth-child(3) {
    background-color: #f4f7f7;
}

.single-product-item:nth-child(4) {
    background-color: #f3f2ec;
    width: 56%;
}

.single-product-item:nth-child(6) {
    background-color: #f1f6f2;
}

.single-product-item:nth-child(7) {
    background-color: #f1f5f6;
}

.single-product-item:nth-child(8) {
    background-color: #f1f5f3;
}

.single-product-item:nth-child(9) {
    width: 38%;
    background-color: #f2eaf3;
}

.single-product-item:nth-child(10) {
    background-color: #f1f0eb;
}

.product-top-links a {
    color: #a08ea3;
    padding: 5px;
    display: inline-block;
}

.product-top-links {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.product-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:1;
}

.product-hover::after {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    content:"";
    background-color: #97c6d5;
    opacity: 0.7;
    z-index:-1;
}

.product-hover > a {
    position: absolute;
    text-decoration: none;
    left: 50%;
    top: 50%;
    color: #FFF;
    border: 2px solid;
    padding: 6px 17px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    width: 90px;
    line-height: 25px;
}

